<!DOCTYPE html>

<html>

<head>
    <title>404</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{errorMessege}}</p>
        <img src="/img/you-shall-not-path.jpeg">
    </div>
    
    {{>footer}}

</body>




</html>